# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Simple Currency Converter/*
!/Simple Currency Converter/task/
/Simple Currency Converter/task/*
!/Simple Currency Converter/task/main.js
!/Simple Currency Converter/task/build.gradle
!/Simple Currency Converter/task/build.gradle.kts
